{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Réinitialisation du mot de passe{% endblock %}

{% block body %}
<section class="signin text-center">
    <div class="form-signin w-100 m-auto">
        <img src="{{ asset('assets/img/logo.png') }}" alt="logo-snowtricks" class="logo mb-3">
        <h1 class="txt-logo">Snowtricks</h1>
        <h3 class="fw-bold">Réinitialisation du mot de passe</h3>

        <div class="card shadow mt-3">
            <div class="card-body p-5">
                {{ form_start(form) }}

					{{ form_row(form.password) }}

                    <button class="btn btn-primary" type="submit">
                        Réinitialiser
                    </button>

                {{ form_end(form) }}
            </div>

        </div>
    </div>
</section>

{% endblock %}
