<div id="modalAvatar" class="modal fade" tab-index="-1" aria-labelledby="editAvatar" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="editAvatar">Modifier mon avatar</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			{{ render(controller('App\\Controller\\AvatarController::editAvatar'))}}

		</div>
	</div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('editAvatar') }}
{% endblock %}
