{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div id="flashMessage" class="position-fixed start-50 translate-middle">
			<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
				<div class="d-flex align-items-center">
					{% if label == 'success' %}
						<i class="bi bi-check-circle-fill"></i>
					{% endif %}
					{% if label == 'warning' or label == 'danger' %}
						<i class="bi bi-exclamation-triangle-fill"></i>
					{% endif %}
					<div class="ms-3">
						{{ message }}
					</div>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{% endfor %}
{% endfor %}