<h1>Snowtricks</h1>
<h2>Réinitialisation de votre mot de passe</h2>
<p>Bonjour {{ user.username }},</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('app_reset_password', {tokenReset: token})) }}">{{ absolute_url(path('app_reset_password', {tokenReset: token})) }}</a></p>
<p>Ce lien expirera dans 3 heures</p>